.section {
  width: 90%;
  margin: 2rem auto;
  margin-top: 3rem;
  animation: pizzas-appear 1s ease-out forwards;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes pizzas-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
