.container {
    width: 95%;
    min-height: 50px;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    margin: 10px;
    border-radius: 10px;
    padding: 7px;
}

span {
    font-size: 20px;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}