.button {
  display: flex;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  padding: 0.15rem 3rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-size: 1.5rem;
}

.button:hover {
  background-color: grey;
}

.badge {
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 540px) {
  .button {
    width: 50%;
    height: 70%;
    margin-left: 10px;
  }
}
