.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #333;
  color: white;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.icon {
  font-size: 2.7rem;
  margin-right: 10px;
  color: rgb(0, 146, 70);
}

.logout {
  background-color: white;
  color: black;
  padding: 0.8rem 1.3rem;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.logout:hover {
  background-color: grey;
}

.liana {
  color: rgb(206, 43, 55);
  margin-left: 2px;
}

.header h1 {
  margin-right: auto;
}

@media (max-width: 540px) {
  .header h1 {
    font-size: 20px;
  }

  .icon {
    font-size: 1.7rem;
    margin-right: 10px;
    color: rgb(0, 146, 70);
  }
}
