.menuContainer {
  background-color: transparent;
  width: 50%;
  min-height: 40vh;
  min-width: 615px;
  color: black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(128, 128, 128, 0.6);
  padding: 1rem 1rem;
  color: rgba(128, 128, 128, 0.6);
  margin-top: 2rem;
  -moz-transition: height 1s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  overflow: auto;
  padding-bottom: 1rem;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
  background-color: gray;
  color: black;
  border-radius: 15px;
  height: 5rem;
  min-width: 512px;
}

.pizzaName {
  font-size: 1.4rem;
  margin-right: 1rem;
}
.pizzaIngredients {
  margin-right: 1rem;
}
.pizzaPrice {
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
