.menuContainer {
  background-color: transparent;
  width: 50%;
  min-height: 50vh;
  color: black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(128, 128, 128, 0.6);
  color: rgba(128, 128, 128, 0.6);
  margin-top: 2rem;
  -moz-transition: height 1s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
  justify-content: center;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
  background-color: gray;
  color: black;
  border-radius: 15px;
  height: 5rem;
}

.pizzaName {
  font-size: 1.4rem;
  margin-right: 1rem;
}
.pizzaIngredients {
  margin-right: 1rem;
}
.pizzaPrice {
  margin-left: auto;
}
